<h1>Stylified</h1>

<h3> This website allows you to style various elements of the page using the styling options in the box below. </h3> 

<div class="styling-options immutable">
  <h2 class="immutable">Styling Options</h2>
  <div class="title-styling immutable">
    <label> Title </label>
    <input id="title-name" value="Stylified"></input>
  </div>
  <div class="font-styling immutable">

    <div class="options-group immutable">
      <label> Font Size: </label> 
      <input id="font-size"></input> px (accepts 10-35 px)
    </div>

    <div class="options-group immutable">
      <label>Font Family</label>:
      <select id="font-family">
        <option value="Helvetica"> Helvetica</option>
        <option value="Arial">Arial</option>
        <option value="Verdana">Verdana</option>
        <option value="Times New Roman">Times New Roman</option>
      </select>
    </div>
  </div>

  <div class="options-group immutable">
    <div class="bg-styling immutable">
      <label> Background Color</label>
      <select id="bg">
        <option value="#1D2951">Default</option>
        <option value ="#FFBBFF">Light Pink</option>
        <option value="#A9C5EB">Light Blue</option>
        <option value="#DBBFF7">Light Purple </option>
        <option value="#A3FEBA">Mint Green </option>
        <option value="white">White</option>
        <option value="black">Black</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
      </select>
    </div>
  </div>

  <div class="paragraphs-styling immutable">
  You can edit the paragraphs below by using this textbox. When you make any changes within the box below, they will immediately be reflected underneath.
    <textarea id="edited-paragraphs" class="immutable"></textarea>
  </div>
</div>

<!-- Hipster Ipsum -->
<div class="example-text">
<p>
Nulla selfies aesthetic scenester quis organic. Art party DIY Austin commodo polaroid asymmetrical dreamcatcher wayfarers, ethnic ullamco. Anim ethnic shabby chic fap asymmetrical. Enim mollit flannel, asymmetrical Banksy wolf pour-over Etsy labore polaroid. Locavore hoodie dolor, quis fashion axe umami Neutra. Excepteur before they sold out Etsy skateboard vero, Brooklyn fingerstache readymade anim ea Wes Anderson Pinterest flannel dolor. Mustache dreamcatcher whatever, tempor dolor Wes Anderson Truffaut bespoke.
</p>

<p>
90's you probably haven't heard of them fugiat cliche, assumenda twee Intelligentsia organic sustainable actually vegan incididunt. Chillwave ethical flannel est lo-fi, commodo mustache quinoa et Cosby sweater non cillum nulla nihil. Aute cliche ennui Etsy, chia artisan Austin ethical. Exercitation labore semiotics, squid XOXO Neutra swag laboris meh 3 wolf moon next level single-origin coffee wolf kitsch. Messenger bag dolor commodo fingerstache salvia. Vero Marfa drinking vinegar ennui. Salvia ex direct trade, aute vero sustainable sartorial master cleanse ethnic keytar PBR Austin.
</p>

<p>
Twee disrupt fixie delectus narwhal Cosby sweater, cliche dolor culpa vero qui High Life PBR sunt. Schlitz farm-to-table flannel, brunch McSweeney's lo-fi pork belly craft beer kitsch tofu pickled odio Bushwick. Skateboard organic excepteur kitsch sapiente Truffaut. Sed cray fashion axe, voluptate selfies direct trade beard ea jean shorts dreamcatcher proident DIY polaroid pug. Anim sartorial laboris, plaid mlkshk occaecat occupy aesthetic typewriter retro fap artisan. Cliche ennui whatever, proident excepteur adipisicing polaroid sunt wolf deserunt single-origin coffee try-hard trust fund. Culpa banjo elit, salvia selvage ex et +1 you probably haven't heard of them jean shorts.
</p>
</div>