// Place all the styles related to the changes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: Helvetica;
	background-color: #FFF8ED;
	color: #1D2951;   
}

h1, h2, h3{
	text-align: center; 
}
h1{
	font-size: 40px; 
}

.styling-options{
	border: solid 2px #3D62B8;
	background-color: #6785CC; 
	width: 50%; 
	margin: 0 auto; 
	text-align: center; 
}

#font-size{
	width: 20px; 
}

label{
	font-weight: bold; 
}

textarea{
	width: 90%; 
	height: 200px; 
}